h1 {
    color: white;
}

.headerBar {
    width: 100%;
}

#sidebar {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F7F6F6;
    padding: 20px;
    flex: auto;
}

.searchHistory {
    border: none;
    background-color: #F7F6F6;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#searchBtn {
    background-color: blue;
    color: white;
    border: 0;
}

.myBtn {
    margin: 5px;
}

.weatherCard {
    margin-top: 25px;
    display: none;
}

.fiveDay {
    border: none;
    display: none;
}

.card {
    box-sizing: content-box;
    padding: 5px;
}
